* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square-hole{
  width: 962px;
  height: 962px;
  border: 1px solid black;
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.game-square{
  border: .5px solid grey;
  background-color: rgb(211, 211, 211, 0.25);
}