* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square-hole{
  width: 960px;
  height: 960px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.game-square{
  border: 2px solid black;
}